@font-face {
    font-family: 'fontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face{
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
}

a {
    text-decoration: none;
}

.conteiner {
    margin: 0 auto;
    width: 1145px;
}

.main {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 51px;
    width: 165px;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo span {
    font-size: 27px;
    font-weight: inherit;
    color: #3e3e40;
    display: inline-block;
}

.logo .logo-text_color {
    font-weight: 700;
    color: #f16d7f;
}

.browse,
.search input,
.search_loupe {
    border: none;
}

.search {
    height: 38px;
    border-radius: 3px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.browse {
    font-weight: 300;
    color: #222222;
    line-height: 32px;
    height: 38px;
    width: 87px;
    padding: 0px;
    outline: none;
    cursor: pointer;
}

.browse:active {
    background-color: #f7f7f7;
}

.browse:hover {
    background-color: #a4a4a4;
}

.search input {
    width: 265px;
    height: 38px;
    padding: 0px 0px 0px 15px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.search_loupe {
    width: 36px;
    height: 38px;
    padding: 0px;
    color: #a4a4a4;
    outline: none;
    cursor: pointer;
    background: none;
}

.search_loupe:active {
    background-color: #f7f7f7;
}

.search_loupe:hover {
    background-color: #a4a4a4;
}

.search_loupe:hover i {
    color: #e6e6e6;
}

.main-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 605px;
}

.search input:focus {
    outline: none;
}

.main-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 188px;
}

.basket i {
    font-size: 34px;
    color: #222222;
}

.basket i:hover {
    cursor: pointer;
    color: #a4a4a4;
}

.my_account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_account:hover {
    cursor: pointer;
    background-color: #a4a4a4;
}

/*MENU*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 51px;
}

.menu a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 21px;
}

.menu a:hover {
    color: #e6e6e6;
}

/*THE-BRAND*/
.conteiner_color {
    background-color: #e8e8e8;
}

.the-brand {
    height: 613px;
    background-image: url('/img/2_the-brand/the-brand.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-line {
    width: 12px;
    height: 95px;
    background-color: #f16d7f;
    margin-right: 12px;
}

.brand-text {
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -24px;
}

.brand-text h1 {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.brand-text h2 {
    font-size: 40px;
}

.brand-h2_color {
    color: #f16d7f;
}

/*FOR*/
.for {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1020px;
}

.for-left {
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for-men {
    background-image: url('/img/3_for/for-men.jpg');
    background-repeat: no-repeat;
    width: 560px;
    height: 542px;
}

.accesories {
    background-image: url('/img/3_for/accesories.jpg');
    background-repeat: no-repeat;
    background-color: #dadad2;
    background-position: top right;
    width: 560px;
    height: 261px;
}

.for-right {
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for-women {
    background-image: url('/img/3_for/for-women.jpg');
    background-repeat: no-repeat;
    width: 560px;
    height: 261px;
}

.for-kids {
    background-image: url('/img/3_for/for-kids.jpg');
    background-repeat: no-repeat;
    width: 560px;
    height: 542px;
}

.for a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    font-weight: 700;
    margin-top: 26px;
}

.for a:hover{
    background-color: #d6d6d6;
}

.for_center {
    text-align: left;
}

.for_white-box {
    display: block;
    text-transform: uppercase;
    color: #222222;
    font-size: 18px;
}

.for_color-text {
    display: block;
    text-transform: uppercase;

    color: #f16d7f;
    font-size: 29px;
}

.accesories a {
    width: 225px;
}

/*FETURED-ITEMS*/
.fetured-items-conteuner {
    display: flex;
    flex-direction: column;
}

.fetured-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 51px;
    margin-bottom: 60px;
}

.fetured-items h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.fetured-items p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
}

.ftr-product {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.clothes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.clothes:hover .ftr-product_hover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clothes:hover .clothers-p{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.clothes a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 279px;
    width: 263px;
    text-transform: uppercase;
}

.clothes p{
    font-weight: 700;
    margin-bottom: 20px;margin-left: 15px;
}

.clothes img {
    display: block;
    z-index: 0;
    width: 261px;
    height: 279px;
}

.ftr-name {
    color: #222222;
    font-size: 13px;
    margin-top: 19px;
}

.ftr-price {
    color: #f16d7f;
    font-size: 16px;
}

.ftr-product_hover {
    position: absolute;
    display: none;
    width: 263px;
    height: 281px;
    background-color: #3a3838;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.8;
}

.ftr-product_hover p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 37px;
    border: 1px solid #ffffff;
    text-transform: lowercase;
}

.ftr-product_hover p:hover{
    background-color: rgb(255, 164, 164);
    color: #3e3e40;
}

.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 113px;
}

.all-products a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.all-products a:hover {
    background-color: #c7c7c7;
}

/*SALE*/
.sale {
    display: flex;
    flex-direction: row;
    background-color: #222224;
    height: 529px;
    margin-bottom: 97px;
}

.sale-left {
    background-image: url('/img/5_sale/sale.jpg');
    background-repeat: no-repeat;
    width: 727px;
    height: 383px;
    color: #ffffff;
    padding-top: 146px;
    padding-left: 40px;
}

.sale-left h2 {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
}

.sale-left_color {
    color: #f16d7f;
}

.sale-left h3 {
    font-size: 32px;
}

.sale-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 373px;
    color: #fbfbfb;
}

.sale-plus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 373px;
}

.sale-plus:nth-child(1) img {
    width: 45px;
    height: 32px;
}

.sale-plus:nth-child(2) img {
    width: 40px;
    height: 40px;
}

.sale-plus:nth-child(3) img {
    width: 47px;
    height: 35px;
}

.sale-plus-text {
    width: 220px;
    display: flex;
    flex-direction: column;
}

.sale-plus-text a {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 17px;
    cursor: pointer;
}

.sale-plus-text a:hover{
    color: #f16d7f;
}

.sale-plus-text p {
    font-size: 14px;
    font-family: 'Roboto-Thin';
    line-height: 20px;
    color: #fbfbfb;
}

/*SUBSCRIBE*/
.subscribe {
    background-image: url(/img/6_subscribe/subscribe.jpg);
    background-repeat: no-repeat;
    height: 438px;
    margin: 0 auto;
    width: 1610px;
}

.sbsc-content {
    height: 438px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sbsc-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 536px;
}

.sbsc-text {
    width: 396px;
    color: #222224;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 19px;
}

.sbsc-name {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.sbsc-sec-name {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.sbsc-line-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 89px;
    height: 45px;
}

.sbcs-line-left {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.sbcs-line-left:hover{
    background-color: #f16d7f;
}

.sbcs-line-right {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
}

.sbcs-line-right:hover{
    background-color: #d6d6d6;
}

.sbsc-right h3 {
    color: #222224;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 54px;
}

.sbsc-right h4 {
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 24px;
    margin-bottom: 35px;
}

.sbsc-right input {
    width: 282px;
    border: none;
    height: 46px;
    border-radius: 50px 0px 0px 50px;
    background-color: #e1e1e1;
    padding-left: 28px;
}

.sbsc-right input:focus {
    outline: none;
}

.sbsc-right button {
    width: 104px;
    border: none;
    height: 46px;
    border-radius: 0px 50px 50px 0px;
    background-color: #f16d7f;
    color: #ffffff;
}

.sbsc-right button:focus {
    outline: none;
}

.sbsc-right button:hover {
    background-color: #c7c7c7;
}

/*ABOUT-US*/
.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 260px;
    margin-top: 109px;
    margin-bottom: 89px;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 446px;
    letter-spacing: 0.35px;
}

.about-us-text p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.about-us-company,
.about-us-information,
.about-us-shop-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-company h3 a,
.about-us-information h3 a,
.about-us-shop-category h3 a {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}


.about-us-company h3 a:hover,
.about-us-information h3 a:hover,
.about-us-shop-category h3 a:hover {
    color: #9f9f9f;
}

.about-us-company a,
.about-us-information a,
.about-us-shop-category a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
}

.about-us-company a:hover,
.about-us-information a:hover,
.about-us-shop-category a:hover {
    color: #f16d7f;
}

/*FOOTER*/
footer {
    height: 79px;
    background-color: #e6e6e6;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.footer p a{
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.footer p a:hover{
    color: #3e3e40;
}

.footer-link{
    width: 191px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-link a {
    height: 16px;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
}

.footer-link a i{
    width: 32px;
    height: 25px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 8px;
}

.footer-link a i:hover{
    color: #ffffff;
    background-color: #f16d7f;
}